.image1{
    background-image: url('../multimedia/img/CANDADO.jpg');
    background-size: cover;
    width: 100%;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-evenly;
    .image-1{
        background:linear-gradient(40deg,rgb(27, 30, 212),rgb(38, 171, 216));
        padding: 20px;
        border-radius: 20px;
        &-buttons{
            display: flex;
            justify-content: space-around;
            .btn-lg{
                background-color: rgb(52, 52, 135);
                transition: all .2s;
                color: rgba(255, 255, 255, 0.924);
                font-weight: bold;
                font-size: 20px;
            }
            .btn-lg:hover{
                background-color: rgb(210, 105, 30);
                transform: scale(1.1);
            }
        }
    }
}
.form-label{
    color: rgb(255, 255, 255);
}
/*ubicacion*/
.ubicacion{
    padding: 20px;
    background: linear-gradient(140deg,rgb(96, 97, 200),rgb(126, 195, 229));
    &-head{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        text-align: center;
        .mapa{
            grid-area: area1;
            h1{
                padding: 10px;
                color: rgb(255, 255, 255);
            }
            iframe{
                border-radius: 20px;
            }
        }
        .localizacion{
            grid-area: area2;
            h1{
                padding: 10px;
                font-family: 'Times New Roman';
                color: rgb(162, 63, 63);
                font-size: 30px;
            }
            img{
                height: 20vw;
                transition: .3s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

/*SECCION SOCIOS*/
.socio1{
    background-image: url('../multimedia/img/portasocio.jpg');
    display: flex;
    padding: 30px;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    h2{
        color: rgb(61, 55, 55);
        text-align: center;
    }
    .boton4{
        display: flex;
        button{
            justify-content: baseline;
            font-size: 15px;
            border-radius: 20px;
            padding: 20px;
            border: rgb(17, 78, 171) solid 1px;
            transition: .1s;
            &:hover{
                transform: scale(1.1);
                color: rgb(238, 238, 238);
                background-color: rgb(76, 133, 19);
            }
        }
    }
}
/*FIN SECCION SOCIOS*/