section{
    @include d1-flex(column,center,center,0);
}
/*CAJA1 */
.hero{
    background:url('../multimedia/img/seguridadinfor.gif');
    background-size: cover;
    width: 100%;
    height: 700px;
    &-caja1{
        color:white;
        font-family: 'Bruno Ace SC';
        transition: all .2s;
        &:hover{
            transform: scale(1.1);
        }
        img{
            background-color: white;
            padding: 10px;
        }
        &-desarrollo{
            width: 100px;
            height: 100px;
            margin: 20px;
        }
    }
}

/*CAJA 2*/
//d1-flex($direction,$justify,$align,$gap)
.caja2{
    background-color:#e8ea96;
    padding: 20px;
    h2{
        padding: 10px;
    }
    .row{
        width: 100%;
        @include d1-flex(row,space-around,center,0);
        padding: 10px;
    }
    &-contenedor-img{
        padding: 20px;
        border: 2px solid #8080804d;
        @include d1-flex(column,space-between,center,0);
        text-align: center;
        &:hover{
            transform: scale(1.1);
        }
        p{
            padding: 10px;
            font-family: 'Bruno Ace SC';
            font-size: 30px;
            font-weight: bold;
        }
        img{
            width: 200px;
            height: 200px;
        }
    }
}
/*CAJA 3*/
.caja3{
    padding: 40px 40px 60px 40px;
    background: linear-gradient(130deg,rgb(230, 164, 117),rgb(232, 234, 150));
    h3{
        font-family:'Bruno Ace SC' ;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .columna{
        padding: 20px;
        border: 2px solid #8080804d;
        @include d1-flex(column,space-evenly,center,0);
        transition: all .2s ease-in;
        &:hover{
            color: white;
            background-color: #1b1b32;
            border-radius: 20px;
            transform: scale(1.1);
        }
        img{
            font-size: 2.5rem;;
            height: 150px;
            width: 200px;
            margin: 10px 10px 20px 10px;
            object-fit: cover;
            padding: 8px 19px;
            border-radius: 50%;
        }
    }
}

/*CAJA 4*/
.contacto1 {
    background:linear-gradient(130deg,rgb(209, 142, 107),rgb(53, 121, 222));
    @include d1-flex(column,center,center,0);
    width: 100%;
    h2{
        color: rgb(255, 255, 255);
        padding: 10px;
    }
    &-items{
        width: 100%;
        @include d1-flex(row,space-around,center,50px);
        padding: 10px;
    }
    .item{
        background-color: rgb(157, 237, 172);
        padding: 10px;
        margin: 10px;
        font-family:'Bruno Ace SC';
        font-weight: bold;
        border-radius: 20px;
        text-align: center;
        transition: all .2s;
        &:hover{
            background-color: rgb(21, 90, 34);
            color: rgba(255, 255, 255, 0.822);
            transform: scale(1.1);
        }
    }
}
